#back {

    color: #eee;
    background-color:#800000;
    padding: 10px 20px;
    border: 0;
    outline: none;
    margin: 2rem 0 0 0;

}

#back:hover,
#back:focus {
    background-color: #800020;
}

#back:active {
    color: #fff;
    background-color: #800020;
}