<!DOCTYPE html>
<html>

<head>
    <title>CSV Data</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../static/css/detail.css">
</head>

<body>
    <button id="back" onclick="location.href='{{ url_for('back') }}';">Go Back</button>
        {{ data | safe}}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="../static/js/detail.js"></script>
</body>

</html>