<!DOCTYPE html>
<html lang="en">

<head>

	<title>Bootstrap Example</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>

	<div class="container">
		<form action="/upload" id="upload-form" method="POST" enctype="multipart/form-data">
			<label class="file">
				Drop a file or click to select one
				<input type="file" multiple name="file">
				<!-- use multiple, even if it’s not allowed, to be able to show an info text -->
			</label>
			<div class="container">
				<divid id="file-info">
			</div>
			<button id="upload-btn" type="submit">Upload</button>
	</div>
	</form>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="../static/js/script.js"></script>
</body>

</html>